nav.nav-main(style={position: 'inherit'})
    // Hamburger menu : displayed only in small screens
    i#mobilemenu.fa.fa-bars

    .banner
        .menu
                       
            .do-not-hover#home(class={homeClassMobile: currentUrl === '/classes/class'})
                a(href='/')
                    | HOME
            #whatsnew.item(class={active: currentUrl === '/whats-new'})
                a(href='/whats-new')
                    | What's new
            #feature.item(class={active: currentUrl === '/babylon101'})
                a(href='/babylon101')
                    | Babylon 101      
            #feature.item(class={active: currentUrl === '/examples'})
                a(href='/examples')
                    | Examples                        
            #How_To.item(class={active: currentUrl === '/How_To'})
                a(href='/How_To')
                    | How To...
            #feature.item(class={active: currentUrl === '/features'})
                a(href='/features')
                    | Features
            #resources.item(class={active: currentUrl === '/resources'})
                a(href='/resources')
                    | Resources
            #extensions.item(class={active: currentUrl === '/extensions'})
                a(href='/extensions')
                    | Extensions
            #samples.item(class={active: currentUrl === '/snippets'})
                a(href='/snippets')
                    | Snippets        
            #classes.item(class={active: currentUrl === '/api'})
                a(href='/api')
                    | API
            #playground.item(class={active: currentUrl === '/playground'})
                a(href='/playground')
                    | Playground
        .more
            .searchbar
                form(method='get', action='/search')
                    input(type='text', name='bjsq', placeholder='Search...')
                    button(type='submit')
                        i.fa.fa-search
