nav.nav-main
    // Hamburger menu : displayed only in small screens
    i#mobilemenu.fa.fa-bars
    // this button only shows on mobile version of a "class" page
    if currentUrl === '/classes/class'
        a(href='/classes/' + currentVersion)
            i#goBackToClassList.fa.fa-arrow-left

    .banner
        .menu
        
            .do-not-hover.item(class={homeClassMobile: currentUrl === '/classes/class'})
                a(href='http://www.babylonjs.com')
                    | Babylon.js                    
            .do-not-hover#home(class={homeClassMobile: currentUrl === '/classes/class'})
                a(href='/')
                    | DOCUMENTATION
            #whatsnew.item(class={active: currentUrl === '/whats-new'})
                a(href='/whats-new')
                    | What's new
            #feature.item(class={active: currentUrl === '/babylon101'})
                a(href='/babylon101')
                    | Babylon 101      
            #How_To.item(class={active: currentUrl === '/How_To'})
                a(href='/How_To')
                    | How To...
            #feature.item(class={active: currentUrl === '/features'})
                a(href='/features')
                    | Features
            #resources.item(class={active: currentUrl === '/resources'})
                a(href='/resources')
                    | Resources
            #extensions.item(class={active: currentUrl === '/extensions'})
                a(href='/extensions')
                    | Extensions
            #samples.item(class={active: currentUrl === '/samples'})
                a(href='/samples')
                    | Samples        
            #classes.item(class={active: currentUrl === '/api.html'})
                a(href='/api.html')
                    | Classes
            #playground.item(class={active: currentUrl === '/playground'})
                a(href='/playground')
                    | Playground
        .more
            .searchbar
                form(method='get', action='/search')
                    input(type='text', name='q', placeholder='Search...')
                    button(type='submit')
                        i.fa.fa-search
