doctype html
html
    head(lang='en')
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title BabylonJS Documentation

        link(rel="shortcut icon", href="http://www.babylonjs.com/img/favicon/favicon.ico")
        link(rel="apple-touch-icon", sizes="57x57", href="http://www.babylonjs.com/img/favicon/apple-icon-57x57.png")
        link(rel="apple-touch-icon", sizes="60x60", href="http://www.babylonjs.com/img/favicon/apple-icon-60x60.png")
        link(rel="apple-touch-icon", sizes="72x72", href="http://www.babylonjs.com/img/favicon/apple-icon-72x72.png")
        link(rel="apple-touch-icon", sizes="76x76", href="http://www.babylonjs.com/img/favicon/apple-icon-76x76.png")
        link(rel="apple-touch-icon", sizes="114x114", href="http://www.babylonjs.com/img/favicon/apple-icon-114x114.png")
        link(rel="apple-touch-icon", sizes="120x120", href="http://www.babylonjs.com/img/favicon/apple-icon-120x120.png")
        link(rel="apple-touch-icon", sizes="144x144", href="http://www.babylonjs.com/img/favicon/apple-icon-144x144.png")
        link(rel="apple-touch-icon", sizes="152x152", href="http://www.babylonjs.com/img/favicon/apple-icon-152x152.png")
        link(rel="apple-touch-icon", sizes="180x180", href="http://www.babylonjs.com/img/favicon/apple-icon-180x180.png")
        link(rel="icon", type="image/png", sizes="192x192", href="http://www.babylonjs.com/img/favicon/android-icon-192x192.png")
        link(rel="icon", type="image/png", sizes="32x32", href="http://www.babylonjs.com/img/favicon/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="96x96", href="http://www.babylonjs.com/img/favicon/favicon-96x96.png")
        link(rel="icon", type="image/png", sizes="16x16", href="http://www.babylonjs.com/img/favicon/favicon-16x16.png")
        link(rel="manifest", href="http://www.babylonjs.com/img/favicon/manifest.json")
        meta(name="msapplication-TileColor", content="#ffffff")
        meta(name="msapplication-TileImage", content="http://www.babylonjs.com/img/favicon/ms-icon-144x144.png")
        meta(name="msapplication-config", content="http://www.babylonjs.com/img/favicon/browserconfig.xml")
        meta(name="theme-color", content="#ffffff")

        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
        link(rel='stylesheet', href='/css/libs/slideout.css')
        link(rel='stylesheet', href='/css/libs/highlight/github.css')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.3/css/perfect-scrollbar.min.css')
        link(rel='stylesheet', href='/css/main.css')
        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/default.min.css')
    body
        include mobile-menu.pug
