.idea
node_modules
.svn
.tmp
log/exceptions.log
.DS_Store

# tmp and examples files from 3D softwares
.blend1
.blend2

# Built file that should not be committed

data/search
data/classes-tags.json
data/classes.json
data/forward.json

!public/html
!public/js
public/html/*

!public/html/img/
.history/
log/bjs-doc-error.log
package-lock.json
npm-shrinkwrap.json
