.search-content {
  @include outer-container(80%);
  padding-bottom: 30px;

  .searchHeader {
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
    text-align: center;
    margin-bottom: 30px;

    h2{
      margin: 0;
      padding: 20px 0;
    }
  }

  .errorMessage{
    font-style: italic;
    text-align: center;

  }

  .pageChangeWrapper {
    display: flex;
    flex-flow: row wrap;

    justify-content: space-around;
    .pageChangeLink {
      border: 1px solid $blue;
      padding: 3px 7px;
      border-radius: 3px;

      &:hover {
        color: whitesmoke;
        background-color: $blue;
        text-decoration: none;
      }
    }
  }

  .filters {
    margin-top : 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .basicFilter {
      cursor:pointer;
      padding: 3px 7px;
      border-radius: 3px;

      font-size: 0.9em;
      margin : 5px;

      &.enabled {
        background-color: $blue;
        color: whitesmoke;
      }

      &.disabled {
        background-color: darkgrey;
        color: whitesmoke;
      }

    }
  }

  .result {

    margin: 15px 0;

    .resultTitle {
      font-size: 1.1em;
      margin: 0;
    }
    .extract {

    }
  }
}
