include includes/header.pug
    include includes/banner.pug
    script.
        function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
            document.body.scrollIntoView();
        }
    iframe(id="iframe", width='100%', scrolling='no', frameborder='no', src="/classes/globals.html" onload="resizeIframe(this)")
    script.
        (function deepLink() {
            var iframe = document.getElementById("iframe");

            if (location.search) {
                iframe.src = "/classes/classes/babylon." + location.search.replace("?", "") + ".html";
            }
        })()
