include includes/header.pug
include includes/banner.pug
#wrapper
    //----------------------
    //-LOGO AND BASELINE
    //----------------------
    .presentation-header
        .presentation-img
        .bigimage
            img(src='img/logos/logo-babylonjs.png')
        h1.bjs-moto An open source 3D engine based on webGL and Javascript
    //----------------------
    //-THREE COLUMNS
    //----------------------
    .bjs-components
        .bjs-component
            h1 Easy to Try and Setup
            p
                | The quickest way to see how to use the engine is to head
                | to the <a href="/babylon101/first">First Steps</a>.
                | For your own HTML project nothing needs to be installed on your 
                | computer and nothing needs to be installed by a client 
                | to run your program.
                | 
                | Check out the <a href = "/resources/Documentation_Category_Map">Index</a> or the <a href = "/features">Features Section</a> to see what is available.
                | Build your first scene and develop it by following the <a href = "/babylon101">Babylon 101 Course</a>
                | Then move on the find out <a href = "/how_to">how to</a> do more.
                | An <a href="#getting-started">overview</a> of the documentation is at the bottom of the page.
        .bjs-component
            h1 WebGL
            p
                | Web Graphics Library, or WebGL, is a JavaScript API designed to render
                | interactive 3D computer graphics and 2D graphics within any compatible
                | web browser, without the use of any plug-ins.
        .bjs-component
            h1 Javascript
            p
                | Also know as ECMAScript, JavaScript is a dynamic, prototype-based scripting
                | language, with first-class functions. Widely used on client-side (and sometimes
                | even server-side, like on this website!), Javascript is the language that
                | BabylonJS is based on.

    .horizontal-separator

    //----------------------
    //-GETTING STARTED WITH DOCUMENTATION OVERVIEW
    //----------------------
    .getting-started#getting-started
         h1.bjs-moto Documentation Overview
            .bigimage
            img(src='img/overview.jpg')
           
 
        

include includes/footer.pug
