include includes/header.pug
    include includes/banner.pug
    #wrapper
        .whats-new-banner
            h1 Playground Search
        .horizontal-separator
        .searchplayground-content

            p#intro
                | Here you can search something in the
                a(href="https://www.babylonjs-playground.com/", target="_blank")
                    |  babylon playground
                |  . To do so, enter a text in the field below.

            .searchplaygroundbar
                form(method='get', action='/playground')
                    input(type='text', name='bjsq', placeholder='Search in titles, desc...')
                    button(type='submit')
                        i.fa.fa-search

            .searchplaygroundbar
                form(method='get', action='/playground')
                    input(type='text', name='tag', placeholder='Search in tags...')
                    button(type='submit')
                        i.fa.fa-search

            .searchplaygroundbar
                form(method='get', action='/playground')
                    input(type='text', name='code', placeholder='Search in code...')
                    button(type='submit')
                        i.fa.fa-search

            p#lastSearch

    include includes/footer.pug
    // HIGHLIGHT JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/languages/javascript.min.js')
    script(src='/js/search_playground.js')