include includes/header.pug
    include includes/banner.pug
    #wrapper
        .whats-new-banner
            h1 Search
        .horizontal-separator
        .search-content
            .searchHeader
                h2#searchHeaderContent
                    | Loading Results ...

    include includes/footer.pug
    script(src='/js/search.js')
