include includes/header.jade
    include includes/banner.jade
    #wrapper
        .whats-new-banner
            h1 What's New?
        .horizontal-separator
        #whats-new!= content
    include includes/footer.jade