include includes/header.pug
    include includes/banner.pug
    #wrapper
        .whats-new-banner
            .img-holder
                img(src="/img/babylonjs_identity_color_dark.svg")
            h1 What's New?
        .horizontal-separator
        #whats-new!= content
    include includes/footer.pug
