.whats-new-banner{  
    background-color: #151221;
    text-align  : center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    height: 100px;

    .img-holder {
        grid-row: 1;
        grid-column: 1;        
        height: 100%;
        width: 80%;
        margin: 0 auto;
        display: grid;
        justify-content: flex-start;

        img {
            height: 100%;
            margin-left: -25px;
        }
    }

    h1 {
        align-self: center;
        grid-row: 1;
        grid-column: 1;
        color: #e0684b;
        font-size: 28px;
        text-transform: uppercase;
        font-weight: 100;
    }
}

#whats-new{
  @include outer-container(80%);
  line-height: 25px;

  ul{
    list-style-type : none;
    li{
      ul{
        li{
          list-style-type : square;
        }
      }
    }
  }
}

@import "mobile_whats-new";