#wrapper.example {
    width: 100%;
    height: calc(100% - 90px);
    box-sizing: border-box;
    overflow: hidden;

    #examplePage {
        width: 400px;
        height: 100%;
        overflow-y: auto;
        float: left;

        h1 {
            text-align: center;
        }

        .filterDiv {
            width: 100%;
            text-align: center;
    
            #filterBar {
                width: 72%;
            }
        }

        .itemLine:hover {
            background-color: #3B789A;
            color: white;
        }
        .itemLine:active {
            background-color: #2C5A74;
            color: white;
        }
        .itemLine {
            cursor: pointer;
            background-color: #ebebeb;
            height:120px;
            overflow: hidden;
            clear: both;
            margin: 5px;
            margin-bottom: 10px;

            .itemContent {
                padding-left: 10px;
            }

            img {
                max-height:100%;
                max-width:120px;
                display: inline-block;
            }

            div {
                display: inline-block;
                width: calc(100% - 125px);
                vertical-align: top;
                padding: 5px;
                box-sizing: border-box;

                h3 {
                    margin: 0px;
                    font-size: 18px;
                    margin-bottom: 5px;
                }

                p {
                    margin: 0px;
                    font-size: 15px;
                    margin-bottom: 3px;
                }

                a {
                    font-size: 15px;
                    text-decoration:underline;
                    color: #00AEEF;
                }
            }
        }
        .itemLineActive {
            background-color: #3B789A;
        }
    }

    #parentIframe {
        width: calc(100% - 400px);
        height: 100%;
        display: inline-block;

        iframe {
            width: 100%;
            height: 100%;
        }

        .Centerer {
            text-align: center;
            height: 100%;
            width: 100%;

            p {
                margin-top:35vh;
                font-size:30px;
            }
        }
    }
}