include ../includes/header
    include ../includes/banner
    #wrapper
        .statics-banner
            .img-holder
                a(href="/")
                    img(src="/img/babylonjs_identity_color_dark.svg")
                a(href="/" + dataObj.category)
                    h1=dataObj.category.replace("_"," ")
                div

        .horizontal-separator
        - dataObj.folders.sort((a, b) => { if (a.title === b.title) { return 0;}if (a.title < b.title) { return -1; } return 1;})
        .statics-content
            .search(style="text-align: center; width: 100%;")
                input(id='filterBar',type='text', name='filter', placeholder='Filter...')
            .tagList            
                for folder in dataObj.folders
                    if(!folder.hidden)
                        .tagWrapper
                            .tag(data-name=folder.name)
                                .tagDescriptionWrapper
                                    h3.tagTitle=folder.title
            .fileList
                for folder in dataObj.folders
                    if(folder.files)
                        for file, index in folder.files
                            if(!file.hidden && !folder.hidden)
                                .fileTitle(class=folder.name class='All')
                                    .fileNumber

                                    a.checkLocal(href='/' + dataObj.category + '/' + file.filename)
                                        =file.title
                                        .inline-tags
                                            .inline-tag
                                                if(file.level)
                                                    =folder.title + " - L" + file.level
                                                else
                                                    =folder.title

                .emptyList(style='display:none')
                    h2
                        | There is nothing in this category




    include ../includes/footer
    script(src="/js/statics.js")
